@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root{
  --mainBlue:#40ACF1;
  --transparentBlue:rgba(64, 172, 241,0.7);
  --mainWhite:#FFFFFF;
  --mainBlack:#292F36;
  --mainGrey:rgb(216, 214, 214);
  --mainYellow:#e3b505;
}
body{
  font-family: 'Roboto', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}
.preloader{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--mainWhite);
  z-index: 1000;
}
.hidePreloader{
  display: none !important;
}
.navbar{
  background: var(--mainWhite);
}
.navbar-icon{
  font-size: 2rem;
}
.nav-icon{
  font-size: 1.5rem;
  color: var(--mainBlue);
  transition: color .3s ease-in-out;
  text-decoration: none !important;
}
.nav-icon:hover{
  color: var(--mainBlack);
}
.navbar-toggler{
  outline-color: var(--mainBlue) !important;
}
.nav-link{
  color: var(--mainBlack) !important;
  text-transform: capitalize;
  transition: color .3s ease-in-out;
}
.nav-link:hover{
  color: var(--mainBlue) !important;
}
.header{
  color: var(--mainWhite);
  clip-path: polygon(0 0,100% 0,100% 95%, 50% 100%,0 95%);
  overflow: hidden;
}
.height-max{
  background: url(../img/headerBcg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - 76px);
  animation-name: zoom;
  animation-delay: 5s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes zoom{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2) translateX(-7%);
  }
  100%{
    transform: scale(1);
  }
}
.title-heading{
  background: rgba(0, 0, 0, .4);
  /* clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); */
  border-left: .3rem solid var(--mainBlue);
}
.title{
  font-size: 1.9rem;
  font-weight: 700;
}
.title-icon{
  color: var(--mainBlue);
  text-decoration: none !important;
  transition: color .3s ease-in-out;
}
.title-icon:hover{
  color: var(--mainBlue);
  opacity: .6;
}
.section-title-special{
  background: var(--transparentBlue);
  color: var(--mainWhite);
  padding: .5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}
.skills-icon{
  font-size: 3rem;
  color: var(--mainYellow);
  background-color: var(--mainGrey);
}
.skills-icon:hover{
  color: var(--mainYellow);
}
.skills-underline{
  width: 4rem;
  height: .3rem;
  background-color: var(--mainBlue);
  margin: 1rem auto;
}
.inventory{
  background: var(--mainGrey);
}
.car-card{
  border-radius: 0.5rem;
}
.car-value{
  background: var(--mainBlue);
  color: var(--mainWhite);
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  transition: clip-path .5s ease-in-out;
}
.car-value:hover{
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}
.question-section{
  background-image: url(../img/questionBcg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.question-gray{
  background: rgba(79, 109, 122, .75);
}
.question-yellow{
  background: rgba(277,181,5,.75);
}
.question-icon{
  font-size: 4rem;
  color: var(--mainBlue);
  transition: all .5s ease-in-out;
}
.question-icon:hover{
  color: var(--mainBlue);
  opacity: .6;
  transform: translateY(-10px);
}
.question-info{
  color: var(--mainWhite);
}
.featured{
  background: var(--mainGrey);
}
.featured-item{
  background: var(--mainWhite);
  border-radius: .5rem;
  opacity: .5;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.featured-item:hover{
  opacity: 1;
  transform: scale(1.05);
}
.featured-icon{
  font-size: 1.5rem;
  color: var(--mainBlue);
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.featured-item:hover .featured-icon{
  color: var(--mainYellow) !important;
}
.img-container{
  background: var(--mainBlue);
  position: relative;
  overflow: hidden;
}
.featured-photo{
  transition: all 1s ease-in-out;
}
.img-container:hover .featured-photo{
  transform: scale(1.3);
  opacity: .5;
}
.featured-link{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  color: var(--mainBlack);
  opacity: 0;
  transition: all .5s ease-in-out;
}
.featured-link:hover{
  color: var(--mainWhite);
}
.img-container:hover .featured-link{
  opacity: 1;
}
.gallery-item{
  background: var(--mainYellow);
  position: relative;
  cursor: pointer;
}
.gallery-img{
  transition: all .5s ease-in-out;
}
.gallery-item:hover .gallery-img{
  opacity: .5;
}
.gallery-item::after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: .5rem solid var(--mainWhite);
  outline-offset: -2rem;
  transition: all .7s ease-in-out;
  transform: scale(0);
}
.gallery-item:hover:after{
  transform: scale(1);
}
.contact{
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/headerBcg.jpeg) center/cover fixed no-repeat;
}
.contact-input{
  font-size: 1.5rem;
  background: transparent;
  border-color: var(--mainYellow);
  color: var(--mainYellow) !important ;
}
.contact-input::placeholder{
  color: var(--mainYellow);
  opacity: .4;
}
.contact-input:focus{
  background: transparent;
  border-color: var(--mainYellow) !important;
  outline: none;
}
.services{
  position: relative;
  min-height: 85vh;
  min-width: 95vw;
  margin: 0 auto;
  clip-path: polygon(0 10%,100% 0,100% 90%,0 100%);
}
.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.video-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--transparentBlue);
  z-index: -2;
}
.service{
  background: var(--mainBlack);
  color: var(--mainWhite);
  transition: all .5s ease-in-out;
}
.service:hover{
  background: var(--mainWhite);
  color: var(--mainBlack);
  padding-left: 2.2rem !important;
}
.service-icon{
  font-size: 4rem;
  color: var(--mainYellow);
}
.customer-card-body{
  margin-top: -4rem !important;
  color: var(--mainBlack);
}
.customer-img{
  border: .4rem solid var(--mainWhite);
}
.customer-name{
  color: var(--mainBlue);
  margin: .5rem;
}
.customer-icon{
  font-size: 2rem;
  color: var(--mainGrey);
}
.customer-quote{
  max-width: 90%;
}
.customer-job{
  color: var(--mainGrey) !important;
}
.footer{
  background: var(--mainBlack);
}
.footer-link{
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--mainYellow);
  transition: all .5s ease-in-out;
}
.footer-link:hover{
  color: var(--mainBlue);
}